@media screen and (min-width: 1200px) and (max-width: 1600px) {
    body {
        /*background-color: #17282f;*/
        background-color: black;
        height: 100vh;
    }
    .NavigationBar {
        width: 992px;
        height: 70px;
        position: relative;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e2dce8;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: inline;
        font-size: 2.5em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 2em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
    }
    #content2 a {
        text-decoration: none;
        padding: 30px 40px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
    }
    .Content-3 {
        margin-left: 860px;
        margin-top: -67px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        width: 992px;
        height: 100%;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        background-color: #e1f7f4;
    }
    .CSoon {
        padding-left: 150px;
        padding-top: 50px;
        font-family: 'Merriweather', serif;
    }
    footer {
        margin-top: -100px;
        margin-left: auto;
        margin-right: auto;
        width: 992px;
        height: 50px;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        /*background-color: #17282f;*/
        background-color: black;
        height: 130vh;
    }
    .NavigationBar {
        width: 768px;
        height: 70px;
        position: relative;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e2dce8;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: inline;
        font-size: 2.5em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 1.6em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
    }
    #content2 a {
        text-decoration: none;
        padding: 20px 25px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
    }
    .Content-3 {
        margin-left: 640px;
        margin-top: -67px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        width: 768px;
        height: 100%;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        background-color: #e1f7f4;
    }
    .CSoon {
        padding-left: 70px;
        padding-top: 100px;
        font-family: 'Merriweather', serif;
    }
    footer {
        margin-top: -100px;
        margin-left: auto;
        margin-right: auto;
        width: 768px;
        height: 50px;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}

@media screen and (min-width: 500px) and (max-width: 992px) {
    body {
        /*background-color: #17282f;*/
        background-color: black;
        height: 100vh;
    }
    .NavigationBar {
        width: 600px;
        height: 70px;
        position: relative;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e2dce8;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: inline;
        margin-left: -25px;
        font-size: 2.2em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 1.4em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
    }
    #content2 a {
        text-decoration: none;
        padding: 20px 15px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
    }
    .Content-3 {
        margin-left: 480px;
        margin-top: -65px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        width: 600px;
        height: 100%;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        background-color: #e1f7f4;
    }
    .CSoon {
        text-align: center;
        padding-top: 100px;
        font-family: 'Merriweather', serif;
    }
    footer {
        margin-top: -100px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 50px;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}

@media screen and (max-width: 500px) {
    body {
        /*background-color: #17282f;*/
        background-color: black;
        height: 100vh;
    }
    .NavigationBar {
        width: 500px;
        height: 97px;
        position: relative;
        margin-top: -20px;
        margin-left: -10px;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e2dce8;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: block;
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 1.4em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
    }
    #content2 a {
        text-decoration: none;
        padding: 10px 23px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
        color: snow;
    }
    .Content-3 {
        margin-left: 360px;
        margin-top: -90px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        width: 500px;
        height: 100%;
        margin-top: -20px;
        margin-left: -10px;
        background-color: #e1f7f4;
    }
    .CSoon {
        text-align: center;
        padding-top: 100px;
        font-size: .9em;
        font-family: 'Merriweather', serif;
    }
    footer {
        margin-left: -10px;
        margin-top: -100px;
        width: 500px;
        height: 50px;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}


/*Iphone XR/XS Max*/

@media screen and (max-width: 414px) {
    body {
        /*background-color: #17282f;*/
        background-color: black;
        height: 100vh;
    }
    .NavigationBar {
        width: 414px;
        height: 97px;
        position: relative;
        margin-top: -20px;
        margin-left: -10px;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e3d2b6;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: block;
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
        margin-left: -20px;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 1.4em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
        margin-left: -5px;
    }
    #content2 a {
        text-decoration: none;
        padding: 10px 13px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
        color: snow;
    }
    .Content-3 {
        margin-left: 280px;
        margin-top: -90px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        width: 414px;
        height: 100%;
        margin-top: -20px;
        margin-left: -10px;
        background-color: #e1f7f4;
    }
    .CSoon {
        text-align: center;
        padding-top: 100px;
        font-size: 1em;
        font-family: 'Merriweather', serif;
    }
    footer {
        margin-top: -100px;
        margin-left: -10px;
        width: 414px;
        height: 50px;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}


/*Iphone XS, X*/

@media screen and (max-width: 375px) {
    body {
        /*background-color: #17282f;*/
        background-color: black;
        height: 300vh;
    }
    .NavigationBar {
        width: 375px;
        height: 97px;
        position: relative;
        margin-top: -20px;
        margin-left: -10px;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e3d2b6;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: block;
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
        margin-left: -20px;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 1.4em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
        margin-left: -5px;
    }
    #content2 a {
        text-decoration: none;
        padding: 10px 10px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
        color: snow;
    }
    .Content-3 {
        margin-left: 250px;
        margin-top: -90px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        width: 375px;
        height: 100%;
        margin-top: -20px;
        margin-left: -10px;
        background-color: #e1f7f4;
    }
    .CSoon {
        text-align: center;
        padding-top: 100px;
        font-size: 1em;
        font-family: 'Merriweather', serif;
    }
    footer {
        margin-top: -100px;
        margin-left: -10px;
        width: 375px;
        height: 50px;
        font-size: .9em;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}