@media screen and (min-width: 1200px) and (max-width: 1600px) {
    body {
        /*background-color: #17282f;*/
        background-color: white;
        height: 299vh;
    }
    .NavigationBar {
        width: 992px;
        height: 70px;
        position: relative;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e2dce8;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: inline;
        font-size: 2.5em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 2em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
    }
    #content2 a {
        text-decoration: none;
        padding: 30px 40px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
    }
    .Content-3 {
        margin-left: 860px;
        margin-top: -67px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        position: relative;
        width: 992px;
        height: 100%;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        background: url(HomeOriginal992.jpg);
    }
    .toMenu {
        width: 500px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 400px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 25px;
    }
    .a {
        text-decoration: none;
    }
    .btnToMenu {
        height: 30px;
        width: 430px;
        padding: 10px;
        margin-left: 40px;
        margin-top: 20px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: 1.5em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToMenu:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toAbout {
        width: 500px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 355px;
        padding-left: 450px;
        text-align: center;
        font-family: 'Cinzel', serif;
    }
    .btnToAbout {
        height: 30px;
        width: 430px;
        padding: 10px;
        margin-left: 490px;
        margin-top: 20px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: 1.5em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToAbout:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toBlog {
        width: 500px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 740px;
        padding-left: 250px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 25px;
    }
    .btnToBlog {
        height: 30px;
        width: 430px;
        padding: 10px;
        margin-left: 275px;
        margin-top: 30px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: 1.5em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToBlog:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    #back-to-top-btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 26px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        outline: none;
        border: 3px solid #333;
        border-radius: 50%;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;
    }
    #back-to-top-btn:hover,
    #back-to-top-btn:focus {
        background-color: #333;
        color: #fff;
    }
    .btnEntrance {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: btnEntrance;
    }
    @keyframes btnEntrance {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .btnExit {
        animation-duration: 0.25s;
        animation-fill-mode: both;
        animation-name: btnExit;
    }
    @keyframes btnExit {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }
    footer {
        margin-top: 100px;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        /*background-color: #17282f;*/
        background-color: black;
        height: 243vh;
    }
    .NavigationBar {
        width: 768px;
        height: 70px;
        position: relative;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e2dce8;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: inline;
        font-size: 2.5em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 1.6em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
    }
    #content2 a {
        text-decoration: none;
        padding: 20px 25px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
    }
    .Content-3 {
        margin-left: 640px;
        margin-top: -67px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        width: 768px;
        height: 100%;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        background: url(HomeOriginal768.jpg);
    }
    .toMenu {
        width: 430px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 300px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 20px;
    }
    .a {
        text-decoration: none;
    }
    .btnToMenu {
        height: 30px;
        width: 370px;
        padding: 5px;
        margin-left: 20px;
        margin-top: 20px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToMenu:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toAbout {
        width: 400px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 265px;
        padding-left: 350px;
        font-size: 1.4em;
        text-align: center;
        font-family: 'Cinzel', serif;
    }
    .btnToAbout {
        height: 30px;
        width: 200px;
        padding: 10px;
        margin-left: 450px;
        margin-top: 20px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: 1.6em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToAbout:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toBlog {
        width: 500px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 580px;
        padding-left: 150px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 25px;
    }
    .btnToBlog {
        height: 30px;
        width: 430px;
        margin-left: 170px;
        padding: 10px;
        margin-top: 30px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToBlog:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    #back-to-top-btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 26px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        outline: none;
        border: 3px solid #333;
        border-radius: 50%;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;
    }
    #back-to-top-btn:hover,
    #back-to-top-btn:focus {
        background-color: #333;
        color: #fff;
    }
    .btnEntrance {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: btnEntrance;
    }
    @keyframes btnEntrance {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .btnExit {
        animation-duration: 0.25s;
        animation-fill-mode: both;
        animation-name: btnExit;
    }
    @keyframes btnExit {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }
    footer {
        margin-top: 100px;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}

@media screen and (min-width: 500px) and (max-width: 992px) {
    body {
        /*background-color: #17282f;*/
        background-color: black;
        height: 220vh;
    }
    .NavigationBar {
        width: 600px;
        height: 70px;
        position: relative;
        margin-top: -20px;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e2dce8;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: inline;
        margin-left: -25px;
        font-size: 2.2em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 1.4em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
    }
    #content2 a {
        text-decoration: none;
        padding: 20px 15px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
    }
    .Content-3 {
        margin-left: 480px;
        margin-top: -65px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        width: 600px;
        height: 100%;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
        background: url(HomeOriginal700.jpg);
    }
    .toMenu {
        width: 330px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 250px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 15px;
    }
    .a {
        text-decoration: none;
    }
    .btnToMenu {
        height: 20px;
        width: 270px;
        padding: 7px;
        margin-left: 20px;
        margin-top: 10px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: 1.2em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToMenu:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toAbout {
        width: 300px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 195px;
        padding-left: 280px;
        font-size: 1.2em;
        text-align: center;
        font-family: 'Cinzel', serif;
    }
    .btnToAbout {
        height: 30px;
        width: 200px;
        padding: 7px;
        margin-left: 320px;
        margin-top: 10px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: 1.6em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToAbout:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toBlog {
        width: 400px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 430px;
        padding-left: 100px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 25px;
    }
    .btnToBlog {
        height: 30px;
        width: 380px;
        margin-left: 100px;
        padding: 10px;
        margin-top: 20px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToBlog:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    #back-to-top-btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 26px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        outline: none;
        border: 3px solid #333;
        border-radius: 50%;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;
    }
    #back-to-top-btn:hover,
    #back-to-top-btn:focus {
        background-color: #333;
        color: #fff;
    }
    .btnEntrance {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: btnEntrance;
    }
    @keyframes btnEntrance {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .btnExit {
        animation-duration: 0.25s;
        animation-fill-mode: both;
        animation-name: btnExit;
    }
    @keyframes btnExit {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }
    footer {
        margin-top: 240px;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}

@media screen and (max-width: 500px) {
    body {
        /*background-color: #17282f;*/
        background-color: black;
        height: 195vh;
    }
    .NavigationBar {
        width: 500px;
        height: 97px;
        position: relative;
        margin-top: -20px;
        margin-left: -10px;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e2dce8;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: block;
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 1.4em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
    }
    #content2 a {
        text-decoration: none;
        padding: 10px 23px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
        color: snow;
    }
    .Content-3 {
        margin-left: 360px;
        margin-top: -90px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        width: 500px;
        height: 100%;
        margin-top: -10px;
        margin-left: -10px;
        background: url(HomeOriginal500.jpg);
    }
    .toMenu {
        width: 300px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 200px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 13px;
    }
    .a {
        text-decoration: none;
    }
    .btnToMenu {
        height: 20px;
        width: 270px;
        padding: 5px;
        margin-left: 10px;
        margin-top: 5px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: 1em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToMenu:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toAbout {
        width: 200px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 170px;
        padding-left: 260px;
        font-size: .8em;
        text-align: center;
        font-family: 'Cinzel', serif;
    }
    .btnToAbout {
        height: 25px;
        width: 200px;
        padding: 5px;
        margin-left: 250px;
        margin-top: 10px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: 1.4em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToAbout:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toBlog {
        width: 400px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 380px;
        padding-left: 50px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 20px;
    }
    .btnToBlog {
        height: 30px;
        width: 380px;
        margin-left: 50px;
        padding: 10px;
        margin-top: 20px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToBlog:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    #back-to-top-btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 26px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        outline: none;
        border: 3px solid #333;
        border-radius: 50%;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;
    }
    #back-to-top-btn:hover,
    #back-to-top-btn:focus {
        background-color: #333;
        color: #fff;
    }
    .btnEntrance {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: btnEntrance;
    }
    @keyframes btnEntrance {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .btnExit {
        animation-duration: 0.25s;
        animation-fill-mode: both;
        animation-name: btnExit;
    }
    @keyframes btnExit {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }
    footer {
        margin-top: 240px;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}


/*Iphone XR/XS Max*/

@media screen and (max-width: 414px) {
    body {
        /*background-color: #17282f;*/
        background-color: black;
        height: 140vh;
    }
    .NavigationBar {
        width: 414px;
        height: 97px;
        position: relative;
        margin-top: -20px;
        margin-left: -10px;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e2dce8;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: block;
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
        margin-left: -20px;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 1.4em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
        margin-left: -5px;
    }
    #content2 a {
        text-decoration: none;
        padding: 10px 13px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
        color: snow;
    }
    .Content-3 {
        margin-left: 280px;
        margin-top: -90px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        width: 414px;
        height: 100%;
        margin-top: -10px;
        margin-left: -10px;
        background: url(HomeOriginal414.jpg);
    }
    .toMenu {
        width: 240px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 165px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 10px;
    }
    .a {
        text-decoration: none;
    }
    .btnToMenu {
        height: 15px;
        width: 180px;
        padding: 5px;
        margin-left: 30px;
        margin-top: 5px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: .8em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToMenu:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toAbout {
        width: 200px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 145px;
        padding-left: 200px;
        font-size: .8em;
        text-align: center;
        font-family: 'Cinzel', serif;
    }
    .btnToAbout {
        height: 25px;
        width: 150px;
        padding: 3px;
        margin-left: 230px;
        margin-top: 5px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: 1.4em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToAbout:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toBlog {
        width: 350px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 300px;
        padding-left: 30px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 20px;
    }
    .btnToBlog {
        height: 30px;
        width: 300px;
        margin-left: 45px;
        padding: 10px;
        margin-top: 20px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToBlog:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    #back-to-top-btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 26px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        outline: none;
        border: 3px solid #333;
        border-radius: 50%;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;
    }
    #back-to-top-btn:hover,
    #back-to-top-btn:focus {
        background-color: #333;
        color: #fff;
    }
    .btnEntrance {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: btnEntrance;
    }
    @keyframes btnEntrance {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .btnExit {
        animation-duration: 0.25s;
        animation-fill-mode: both;
        animation-name: btnExit;
    }
    @keyframes btnExit {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }
    footer {
        margin-top: 200px;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}


/*Iphone XS, X*/

@media screen and (max-width: 375px) {
    body {
        /*background-color: #17282f;*/
        background-color: black;
        height: 140vh;
    }
    .NavigationBar {
        width: 375px;
        height: 97px;
        position: relative;
        margin-top: -20px;
        margin-left: -10px;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        background-color: #e2dce8;
    }
    .ContentofNav {
        display: inline;
        list-style-type: none;
    }
    .ContentofNav a:hover {
        background-color: grey;
        list-style-type: none;
    }
    .Content-2 {
        display: block;
        font-size: 2em;
        font-family: 'Satisfy', cursive;
        color: red;
        list-style: none;
        margin-left: -20px;
    }
    .Content-2 a {
        text-decoration: none;
        color: #d42417;
        list-style: none;
        cursor: pointer;
    }
    #content2 {
        display: inline;
        color: black;
        font-size: 1.4em;
        font-family: 'Roboto', sans-serif;
        list-style: none;
        margin-left: -5px;
    }
    #content2 a {
        text-decoration: none;
        padding: 10px 10px;
        color: chocolate;
        list-style: none;
        cursor: pointer;
    }
    #content2 a:hover {
        background-color: cadetblue;
        color: snow;
    }
    .Content-3 {
        margin-left: 250px;
        margin-top: -90px;
        font-size: 2.5em;
        color: white;
        cursor: pointer;
        list-style: none;
    }
    .MidPart {
        width: 375px;
        height: 100%;
        margin-top: -10px;
        margin-left: -10px;
        background: url(HomeOriginal375.jpg);
    }
    .toMenu {
        width: 230px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 150px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 10px;
    }
    .a {
        text-decoration: none;
    }
    .btnToMenu {
        height: 15px;
        width: 180px;
        padding: 5px;
        margin-left: 20px;
        margin-top: 5px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: .8em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToMenu:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toAbout {
        width: 200px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 120px;
        padding-left: 170px;
        font-size: .8em;
        text-align: center;
        font-family: 'Cinzel', serif;
    }
    .btnToAbout {
        height: 20px;
        width: 150px;
        padding: 5px;
        margin-left: 200px;
        margin-top: -5px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: 1.4em;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToAbout:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    .toBlog {
        width: 300px;
        color: #e8bae8;
        font-family: monospace;
        padding-top: 280px;
        padding-left: 30px;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 20px;
    }
    .btnToBlog {
        height: 30px;
        width: 250px;
        margin-left: 45px;
        padding: 10px;
        margin-top: 20px;
        background-color: #e8bae8;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-family: 'Fjalla One', sans-serif;
    }
    .btnToBlog:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: black;
        color: #e8bae8;
    }
    #back-to-top-btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 26px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        outline: none;
        border: 3px solid #333;
        border-radius: 50%;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;
    }
    #back-to-top-btn:hover,
    #back-to-top-btn:focus {
        background-color: #333;
        color: #fff;
    }
    .btnEntrance {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: btnEntrance;
    }
    @keyframes btnEntrance {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .btnExit {
        animation-duration: 0.25s;
        animation-fill-mode: both;
        animation-name: btnExit;
    }
    @keyframes btnExit {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }
    footer {
        margin-top: 150px;
        text-align: center;
        background-color: #e2dce8;
        font-family: 'Kaushan Script', cursive;
    }
}